/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face
{
  font-family: "SWfont";
  src: url('./fonts/SWfont.ttf') format('truetype');
}

body {
  font-family:'SWfont';
  background-color:rgb(54,57,53) !important;
  color:white !important;
}